[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow="2.14.0"
transformers="4.34.1"
pickle="4.0"
nltk="3.8.1"
pands="1.5.3"


[dev-packages]

[requires]
python_version = " 3.10.12"
